bcrypt
blinker
certifi
charset-normalize
click
colorama
Flask
Flask-Bcrypt
Flask-SQLAlchemy
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
mysqlclient
requests
SQLAlchemy
typing_extensions
urllib3
Werkzeug
